h1 {
    color: #6CC4D8;
    text-align: center;
    text-decoration: underline whitesmoke
}
h2, h3 {
    color: #6CC4D8
    
}
body {
    background-image: url(sao.jpg);
    background-size: cover;
    background-repeat: no-repeat
}
p {
    color: white
}
li {
    color: white
}